<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/header.ejs%>
    <h1><%= title %></h1>
    <h3> About </h3>

    <p><%= points %></p>

    <p>Hi, my name is Renata.</p>
    <p> <%= teste%></p>
</body>
</html>
