<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs%>

    <h1> <%= videodata.categoryName %></h1>
    <ul>
      <% videodata.categories.forEach(function (item) { %>
        <li> <%= item.categoryName %></li>
        <li> <%= item.videosCount %></li>
      <% }); %>
    </ul>
  </body>
</html>
